<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmptyValueString" value="—"/>
    <add key="SO2" value="二氧化硫"/>
    <add key="NO2" value="二氧化氮"/>
    <add key="PM10" value="颗粒物"/>
    <add key="CO" value="一氧化碳"/>
    <add key="O3" value="臭氧"/>
    <add key="PM25" value="细颗粒物"/>
  </appSettings>
</configuration>